.customizedButton {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.topBarButton {
    -fx-background-color: #3f4152;
    -fx-text-fill: white;
    -fx-border-color: #676980;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.green{
    -fx-background-color: #57ae3a;
}
.yellow{
    -fx-background-color: #ffff64;
}
.orange{
    -fx-background-color: #ffa969;
}

.rose{
    -fx-background-color: #ff7fa1;
}

.red{
    -fx-background-color: crimson;
}

.purple{
    -fx-background-color: #c07fff;
}

.blue{
    -fx-background-color: #5fb8ff;
}

.grey{
    -fx-background-color: #969696;
}

.white{
    -fx-background-color: white;
}

.green:hover{
    -fx-background-color: derive( #57ae3a, 20% );
}
.yellow:hover{
    -fx-background-color: derive( #ffff64, 20% );
}
.orange:hover{
    -fx-background-color: derive( #ffa969, 20% );
}
.rose:hover{
    -fx-background-color: derive( #ff7fa1, 20% );
}
.red:hover{
    -fx-background-color: derive(crimson, 20%);
}
.purple:hover {
    -fx-background-color: derive( #c07fff , 20% );
}
.blue:hover {
    -fx-background-color: derive( #5fb8ff , 20% );
}
.grey:hover {
    -fx-background-color: derive( #969696 , 20% );
}
.white:hover {
    -fx-background-color: derive(white, 20%);
}

.topBarButton:hover{
    -fx-background-color: derive( #3f4152 , 20% );
}

.text {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: Futura;
}

.selected{
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-border-color: red;
    -fx-font-family: Futura;
    -fx-font-weight: bold ;
    -fx-border-width: 2;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 16;
}

.profil {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-family: Futura;
    -fx-translate-x: -200px;
    -fx-font-size: 20px;
}
